a{
    text-decoration: none;
}
h3{
    color: rgb(214, 52, 52);
}
#copy-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  /* **************************** */
  #copy-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #copy-input {
    display: none;
  }
  

/* ************************ Bank Details  ********************************** */
.bank-text{

  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.internship{
  color: #181b38;
  cursor: pointer;
  
}
.box{
  background-color: rgb(242, 242, 252);
  height: 90vh;
 
}
.bank-name{
     margin-top: 100px;
  font-weight: 700;
  color: #181b38;
  font-size: 70px;
  margin-left: 100px;
}
.bank-web{

  font-weight: 700;
  color: #181b38;
  font-size: 70px;
  margin-left: 100px;
}
.bank-img{
  margin-top: 50px;
}


